.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100vh;
}

.wd-kanbas-navigation li {
    padding: 8px;     margin-bottom: 5px;
    font-size: 0.8em;  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: rgb(224, 55, 55);
}

.wd-kanbas-navigation li.wd-active a svg.wd-white-icon{
    color: lightgray;
}

.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}

.wd-kanbas-navigation a svg {
    color: rgb(224, 55, 55);
}

.wd-kanbas-navigation a svg.wd-white-icon {
    color: white;
}

.wd-kanbas-navigation img {
    width: 80px;
    margin-left: -10px;
}